.errorsection {
  padding: 11rem 0;
  background-color: #f4f7fd;
}
@media (max-width: 767px) {
  .errorsection {
    display: flex;
    align-items: center;
  }
}
.errorcontent {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2rem 3rem;
  margin: 0 50px;
  background-color: white;
  align-items: center;
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .errorcontent {
    flex-direction: column-reverse;
  }
}
.errorcontent div:first-child,
.errorcontent div:last-child {
  flex-basis: 50%;
}
.errorcontent div:first-child {
  text-align: center;
}
@media (max-width: 767px) {
  .errorcontent div:first-child,
  .errorcontent div:last-child {
    flex-basis: 100%;
  }
}
